#organization-required
  %p
    To continue, you must belong to an organization. To do so, contact the administrator of the app at
    = link_to("mateo.ochoac@gmail.com", "mailto:mateo.ochoac@gmail.com") + "."
    If you know the name of the organization you want to belong to, indicate so in your email. Otherwise, specify that you require that an organization has to be created for you.
