/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.notice {
  color: green;
}

.alert {
  color: red;
}

/* App header */

.app-header {
  border-bottom-style: solid;
  border-width: 1px;
  overflow: overlay;
}

.topmost-header {
  overflow: overlay;
}

.app-title {
  float: left;
}

.auth-buttons {
  padding-top: 20px;
  float: right;
}

.nav-buttons {
  margin-top: 10px;
  margin-bottom: 20px;
  overflow: overlay;
}

.nav-buttons .nav-button {
  background-color: #4CAF50; /* Green */
  border: 1px solid green;
  border-radius: 12px;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  float: left;
}

.nav-buttons .nav-button:hover {
  background-color: #3e8e41;
}

/* New shoe form */

.button-options {
  overflow: overlay;
}

#list-of-options {
     list-style-type:none;
     padding:0;
}

#list-of-options li {
     float:left;
     margin:0 5px 0 0;
    width:100px;
    height:40px;
    position:relative;
}

#list-of-options label, #list-of-options input {
    display:block;
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
}

#list-of-options input[type="radio"] {
    opacity:0.011;
    z-index:100;
}

#list-of-options input[type="radio"]:checked + label {
    background:yellow;
}

#list-of-options label {
     padding:5px;
     border:1px solid #CCC;
     cursor:pointer;
    z-index:90;
}

#list-of-options label:hover {
     background:#DDD;
}

